.book {
  width: 400px;
  height: 500px;
  background-image: url("https://marketplace.canva.com/MACBT56QCxE/1/0/thumbnail_large/canva-yellow-brown-bird-illustration-little-childrens-book-cover-MACBT56QCxE.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}
.book_info {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}
.book_info:hover {
  opacity: 1;
}
.book_info--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 5%;
}
.book_info h1 {
  text-transform: capitalize;
}
.book_info p {
  line-height: 1.618rem;
}
