.FormComponent {
  margin: 100px auto;
  width: 700px;
  background: white;
  border: 1px solid rgba(0,0,0,.0975);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.FormComponent form {
  display: flex;
  flex-direction: column;
}

.FormComponent input {
  line-height: 2.5rem;
  border: 2px solid rgba(0,0,0,.0975);
  margin: 5px 0;
  background-color: #fafafa;
  padding: 0 7px;


}
.FormComponent input:focus {
  outline: none;

}
