.book-utils {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: #eee;
  width: 100%;
  display: flex;
  justify-content: center;
}
.book-utils_icon img{
  width: 40px;
  margin: 5px;
  cursor: pointer;
}
