.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.0975);
  background-color: white;
  padding: 0 10%;
}
.nav-list {
  display: flex;
  flex-direction: row;
}
.nav-list li {
  margin: 0 10px; 
}
