@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600|Pacifico');
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #F2F2F2;
}


/**
 * Navigation Component
 */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 20px 10%;
  border-bottom: 1px solid rgba(0, 0, 0, .0975);
}
.nav__links {
  display: flex;
  flex-direction: row;
}
.nav__utils {
  display: flex;
}

.dropdown {
  display: none;
}
.dropdown__icon {
  background-image: url('./assets/img/brand.png');
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
.dropdown__utils {
  position: absolute;
  right: 0;
  z-index: 100;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, .0975);
}
.dropdown .search-box {
  margin: 0;
}
.dropdown__utils .nav__links {
  margin: 2rem auto 0 auto;
  flex-direction: column;
  justify-content: center;
}
.dropdown__utils .nav__links li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #555;

}
@media screen and (max-width: 860px) {
  .nav__utils {
    display: none;
  }
  .dropdown {
    display: block;
  }
}


/**
 * Brand Component
 */

.brand {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
}

.brand__logo {
  height: 50px;
  width: auto;
}

.brand__divider {
  height: 30px;
  border-left: 1px #8440FF solid;
  margin: 0 20px;
}

.brand__header {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  display: inline-block;
  color: #8440FF;
  opacity: 0.8;
}

/**
 * SearchBox Component
 */

.search-box {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.search-box__input {
  font-family: 'Open Sans', sans-serif;
  border: solid 1px #dbdbdb;
  background-color: #fafafa;
  text-align: center;
  padding: 0 0.5rem;
  line-height: 2rem;
}
.search-box__input:focus {
  text-align: left;
  background-color: #fff;
}
.search-box__submit {
  color: #b3b3b3;
  font-size: 15px;
  background-color: #fafafa;
  border: solid 1px #dbdbdb;
  border-left: none;
  width: 2rem;
  line-height: 2rem;
  padding: 0;
}

/**
 * NavLink Component
 */
.nav-link {
  margin: 0 0.5rem;
}
.nav-link__icon {
  width: 42px;
  height: 42px;
  background-position: center;
  background-size: cover;
  display: block;
}

.icon--user {
  background-image: url('./assets/img/user.png');
}
.icon--cart {
  background-image: url('./assets/img/cart.png');
}
.icon--wish {
  background-image: url('./assets/img/heart.png');
}

/**
 * Book Component
 */
.book {
  background-color: #fff;
  display: inline-block;
  margin: 1rem;
  box-shadow: 0px 3px 8px -4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.book__price {
  background-color: #9C66FF;
  display: inline-block;
  position: absolute;
  right: 0;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  color: white;
  padding: 0.5rem;
  font-weight: 600;
  box-shadow: -2px 2px 8px 1px rgba(0, 0, 0, 0.15)
}
.book__price:before {
  content: "$";
}
.book__card {
  height: 400px;
  display: inline-block;
}
.book__cover {
  width: 75%;
  margin: 10% auto;
  height: 80%;
  display: block;
  background-position: center;
  background-size: cover;
}
.book__details {
  width: 75%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 1.8rem;
  opacity: 0.5;
}
.book__details p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.book__details .details--title {
  font-weight: 600;
}

.book-utils {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
}
.book-utils__tag {}
.book-utils__tag::before {
  content: "# "
}
.book-utils__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book-utils__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.3rem;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.book-utils__icon.icon--wish-small {
  background-image: url('./assets/img/heart.png');
}
.book-utils__icon.icon--buy-small {
  background-image: url('./assets/img/cart.png');
}
.book-utils__likes {
  margin: 0 0.3rem;
}

.book-list {
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 860px) {
  .book-list {
    width: 100%;
  }
}
.book-list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.book-list__header {
  margin-top: 1rem;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  color: #777;
}


/* TODO: searchbox in center */
/* TODO: New serch icon as background */
